/* Scroll */
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 20px;
  }
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #b6d8eb;
    display: flex;
    font-family: monospace;
}
.mt-20{
    height: 20px;
    width: 100%;
    background-color: #b6d8eb;
}
.wrapper .menu{
    height: 100%;
    width: 300px ;
    background-color: #fff;
}
.wrapper .friend-wrapper{
    width: 80%;
}
.wrapper .friend-wrapper .friend-list{
    height: 100%;
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-item{
    width: 100%;
}
.menu .title{
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.wrapper .friend-wrapper .title{
    width: calc(100% - 35px);
    height: 60px;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.wrapper .friend-wrapper .title span{
    margin: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 800;
}
.wrapper .friend-wrapper .search-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 35px;
    width: 250px;
}
.wrapper .friend-wrapper .search-section .search-friend{
    border: none;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 5px;
    position: relative;
    padding-left: 20px;
    font-size: 15px;
}
.wrapper .friend-wrapper .search-section .search-button{
    width: 30px;
    height: 40px;
    border-radius: 5px;
    background-color: #f5f5f5;
    position: absolute;
    right: 35px;
}
.friend-wrapper .friend-list .item{
    background-color: #fff;
    width: 210px;
    height: 210px;
    padding: 10px;
    margin: 15px;
    border-radius: 6px;
    text-align: center;
}
.friend-list .item .avatar{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.friend-list .item .avatar img{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    object-fit: cover;
}
.friend-list .item .user-name{
    margin-top: 5px;
    font-weight: 800;
    font-size: 17px;
}
.friend-list .item .common-friend{
    font-size: 13px;
    padding: 5px 0;
}
.friend-list .wrapper-item .status-wrapper{
    width: 60%;
    height: 30px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.friend-list .wrapper-item .status-wrapper i{
    position: absolute;
    top: 85%;
    right: 10px;
    color: #fff;
}
.friend-list .wrapper-item .status{
    background-color: #10d876;
    color: #fff;
    height: 30px;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}