*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
a{
    text-decoration: none;
}


.chat{
    width: 100%;
    padding: 0 20px;
}
.chat .header-wrapper{
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat .logo-button{
    width: 280px;
    display: flex;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #05f;
}
.chat .logo-button i{
    width: 36px;
    height: 36px;
    color: #10d876;
    display: block;
    margin-right: 5px;  
}
.chat .middle-components{
    /* min-width: auto; */
    display: flex;
    align-items: center;
    margin-left: -250px;
}
.chat .header .middle-components .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat .header .middle-components .buttons i{
    font-size: 22px;
    color: #adb5bd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.chat .header .middle-components .buttons a{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 8px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: inline-block;
}
.chat .header .middle-components .input-container{
  position: relative;
  margin-right: 20px;
}
.chat .header .middle-components input{
  background-color: #eee;
  padding: 12px 35px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
.chat .header .middle-components .search-button{
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0,-50%);
  height: 100%;
  width: 30px;
  border-radius: 30px;
  padding-left: 10px;
  color: #adb5bd;
}
.chat .header .right-components{
  display: flex;
  align-items: center;
}
.chat .header .right-components a{
  position: relative;
  display: flex;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  color: #0055ff;
  font-size: 25px;
  display: inline-block;
}
.chat .header .right-components i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.chat .header .right-components img{
  width: 40px;
  height: 40px;
  display: inline-block;
}