::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 20px;
}

.content-panel{
  width:100%;
  display:flex;
}

.menu-bar {
  background-color: rgb(201, 177, 177);
  width: 20%;
}

.user-feed-panel {
  background-color: rgb(182 216 235);
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-post-panel {
  width: 80%;
  height: 200px;
  background-color: antiquewhite;
}

.posts-frame {
  width: 80%;
}

.posts-frame>* {
  padding-top: 15px;
}

.option-bar {
  background-color: rgb(168, 144, 109);
  width: 20%;
}

.comment-section {
  width: 100%;
  background-color: rgb(158 188 232);
  margin-top: 10px;
  border-radius: 15px;
  display: none;
}

.comment-section-title {
  padding-top: 20px;
  font-size: 35pt;
  font-weight: bold;
  text-align: center;
}

.comment-section .comment-list {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.posts-frame .end-of-list {
  font-size: 30pt;
  color: rgba(160, 67, 67, 0.8);
  text-align: center;
}

.comment-section .end-of-list {
  font-size: 20pt;
  color: rgba(160, 67, 67, 0.1);
  text-align: center;
}

.send-comment-form {
  width: 100%;
  display: flex;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 15px;
  padding-right: 10px;
}

.send-comment-form .comment-input-wrapper {
  background-color: white;
  width: calc(100% - 70px);
  border-radius: 15px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 5px;

  margin-left: 10px;
}

.send-comment-form .comment-input-wrapper textarea {
  background-color: white;
  width: 100%;
  min-height: 35px;

  resize: none;
  
  overflow-y: hidden;

  border: none;
  outline: none;
}

.comment-input-options {
  width: 100%;
  align-items: right;
}

.comment-input-options .submit-comment-button {
  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 5px;
  margin-bottom: 5px;

  text-align: center;


  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

.comment-input-options .submit-comment-button:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  user-select: none;
} */



/* ============================= Test ==========================*/
.content-panel {
  width: 100%;
  display: flex;
}

.menu-bar {
  background-color: rgb(201, 177, 177);
  width: 20%;
}

.user-feed-panel {
  background-color: rgb(182 216 235);
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-post-panel {
  width: 80%;
  height: 200px;
  background-color: antiquewhite;
}

.posts-frame {
  width: 80%;
}

.posts-frame>* {
  padding-top: 15px;
}

.option-bar {
  background-color: rgb(168, 144, 109);
  width: 20%;
}

/* ?????????????? */
.comment-section {
  width: 100%;
  background-color: rgb(158 188 232);
  margin-top: 10px;
  border-radius:15px;
  display:none;
  overflow-y: scroll;
  overflow-x:hidden;
}

.comment-section-title {
  padding-top: 20px;
  font-size: 35pt;
  font-weight: bold;
  text-align: center;
}

.comment-section .comment-list {
  display: flex;
  flex-direction: column;
  margin:10px;
  max-height: 1000px;
}


/* test */
.posts-frame .end-of-list{
  font-size:30pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgba(51, 48, 48, 0.8);
  text-align: center;
}

.comment-section .end-of-list {
  font-size: 20pt;
  color: rgba(160, 67, 67, 0.1);
  text-align: center;
}

.send-comment-form {
  width: 100%;
  display: flex;
  align-items: center;

  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 15px;
  padding-right: 10px;
}

.send-comment-form .comment-input-wrapper {
  background-color: white;
  width: calc(100% - 70px);
  border-radius: 15px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 5px;

  margin-left: 10px;
}

.send-comment-form .comment-input-wrapper textarea {
  background-color: white;
  width: 100%;
  min-height: 35px;

  resize: none;
  /* Disable manual resizing by the user */
  overflow-y: hidden;
  /* Hide vertical scrollbar */

  border: none;
  outline: none;
}

.comment-input-options {
  width: 100%;
  align-items: right;
}

.comment-input-options .submit-comment-button {
  padding-top: 5px;
  padding-bottom: 5px;

  margin-top: 5px;
  margin-bottom: 5px;

  text-align: center;


  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

.comment-input-options .submit-comment-button:hover {
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  user-select: none;
}