:root {
  --main: rgba(18, 73, 156, 1);
  --light-main: rgba(63, 136, 245, 1);
  --dark-main: rgba(16, 31, 84, 1);
  --secondary: rgba(112, 128, 144, 1);
  --third: rgba(95, 46, 131, 0.79);
  --x-5f-2e-83: rgba(80, 200, 120, 1);
}
