.content-panel{
  width:100%;
  display:flex;
}

.menu-bar{
  background-color: rgb(201, 177, 177);
  width:20%;
}

.user-feed-panel{
  background-color: rgb(182 216 235);
  width:60%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-post-panel{
  width: 80%;
  height:200px;
  background-color: antiquewhite;
}

.posts-frame{
  width: 80%;
}

.posts-frame > *{
  padding-top: 15px;
}

.option-bar{
  background-color: rgb(168, 144, 109);
  width:20%;
}

.comment-section{
  display:none;
}