#registerForm {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 350px; /* Adjust the width of the form */
}
.blurred {
    filter: blur(5px); /* You can adjust the blur amount as needed */
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close-button:hover {
    color: red; /* Change color on hover if desired */
}
#userregisterForm .inline-label {
    margin-left:20px;
    margin-top:10px;
    font-size:20px;
    margin: 5px 0;
    display: inline-block;
    width: 100px; /* Set the width of the label according to your needs */
}

#userregisterForm .inline-input {
    width: calc(100% - 108px); /* Calculate the width of the input field */
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size:20px;
}
#userregisterForm .inline-input1 {
    margin-top:10px;
    background-color:rgb(229 229 229);
    padding: 0px;
    border: 2px solid #000;
    border-radius:6px;
    margin-bottom: 0px;
    padding:10px;
    width: 99%;
}
#userregisterForm .inline-input2 {
    width: 49%;
    background-color:rgb(229 229 229);
    margin-top:10px;
    padding: 0px;
    margin-bottom: 0px;
    border: 2px solid #000;
    border-radius:6px;
    padding:10px;
}
#userregisterForm input[type="submit"] {
    /* Your styling properties here */
    margin-left:25%;
    margin-top:10px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for better appearance */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    width:50%;
}

#userregisterForm input[type="submit"]:hover {
    background-color: #45a049; /* Darker green on hover */
}