#registerForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 300px; /* Adjust the width of the form */
}

#userregisterForm .inline-label {
    margin: 5px 0;
    display: inline-block;
    width: 72px; /* Set the width of the label according to your needs */
}

#userregisterForm .inline-input {
    width: calc(100% - 95px); /* Calculate the width of the input field */
    padding: 0px;
    margin-bottom: 0px;
}
#userregisterForm .inline-input1 {
    width: 280px; /* Calculate the width of the input field */
    padding: 0px;
    margin-bottom: 0px;
}
#userregisterForm .inline-input2 {
    width: 136.5px; /* Calculate the width of the input field */
    padding: 0px;
    margin-bottom: 0px;
}